#pizzaNetHeader {
  background-image: linear-gradient(rgb(223, 29, 29), #fcd285);
  text-align: right;
  margin: 2%;
  padding-right: 4%;
  padding-left: 4%;
  border: black solid 3px;
}

#pizzaSlice {
  position: relative;
  top: 30px;
  left: 40px;
  float: left;
  width: auto;
  height: 230px;
}

.tm {
  font-family:'Times New Roman', Times, serif;
  font-size: 75pt;
  color: black;
}

.netHead {
  font-family: "Ribeye";
  color: white; 
  font-size: 125pt;
}

.netHeadSub {
  font-family: "Josefin Sans";
  color: rgb(223,29,29);
  font-size: 40pt;
}

#addressBox {
  float: center;
  background-image: linear-gradient(rgb(223, 29, 29), rgb(223, 29, 29));
  border: rgb(32, 153, 32) solid 6px;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 50px;
  height: 700px;
  width: 75%;
}

.pleaseEnter {
  color: white;
  font-size: 50pt;
  text-align: center;
  font-family: "Ribeye";
}

#pizzaSliceDown1 {
  float: left;
  position:absolute;
  left: 3%;
  top: 0px;
  height: 200px;
  width: auto;
}

#pizzaSliceDown2 {
  float: left;
  position: absolute;
  left: 3%;
  top: 30%;
  height: 200px;
  width: auto;
}

#pizzaSliceDown3 {
  float: left;
  position: absolute;
  left: 3%;
  top: 60%;
  height: 200px;
  width: auto;
}

#pizzaSliceUp1 {
  float: left;
  position:absolute;
  right: 3%;
  top: 0px;
  height: 200px;
  width: auto;
}

#pizzaSliceUp2 {
  float: left;
  position: absolute;
  right: 3%;
  top: 30%;
  height: 200px;
  width: auto;
}

#pizzaSliceUp3 {
  float: left;
  position: absolute;
  right: 3%;
  top: 60%;
  height: 200px;
  width: auto;
}

#deliveryForm {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 60%;
  background-color: black;
  color: white;
  font-size: 19pt;
  font-family: "Josefin sans";
  border: rgb(32, 153, 32) solid 3px;
  padding: 2%;
  float: center;
  position: absolute;
  top: 30%;
  left: 22%;
}

#name {
  text-align: center;
  border: none;
  background-color: black;
  font-family: monospace;
  font-size: 25pt;
  color: #fcd285;
  height: auto;
  width: 60%;
}

#address {
  text-align: center;
  border: none;
  background-color: black;
  font-family: monospace;
  font-size: 25pt;
  color: #fcd285;
  height: auto;
  width: 80%;
}

#city {
  text-align: center;
  border: none;
  background-color: black;
  font-family: monospace;
  font-size: 25pt;
  color: #fcd285;
  height: auto;
  width: 30%;
}

#state {
  text-align: center;
  border: none;
  background-color: black;
  font-family: monospace;
  font-size: 25pt;
  color: #fcd285;
  height: auto;
  width: 10%;
}

#zip {
  text-align: center;
  border: none;
  background-color: black;
  font-family: monospace;
  font-size: 25pt;
  color: #fcd285;
  height: auto;
  width: 25%;
}

#phone {
  text-align: center;
  border: none;
  background-color: black;
  font-family: monospace;
  font-size: 25pt;
  color: #fcd285;
  height: auto;
  width: 55%;
}

.pickupDelivery {
  margin-top: 2%;
  margin-bottom: 2%;
  width: auto;
  font-size: 30pt;
  font-family: "Josefin sans";
  position: absolute;
  float: center;
  top: 79%;
  left: 32%;
}

input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  background: white;
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
}

input[type="checkbox"]:checked {
  background: white;
}

input[type="checkbox"]:checked:after {
  content: "X";
  color: rgb(223, 29, 29);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

input#pickup {
  width: 30px;
  height: 30px;;
}

input#delivery {
  width: 30px;
  height: 30px;;
}

#submitButton {
  background-color: black;
  font-family: "Ribeye";
  font-size: 30pt;
  border-radius: 35%;
  border: 2px solid #fcd285;
  position: absolute;
  left: 45%;
  top: 80%;
}

#buildYourPizza {
  display: none;
}

#select-size {
  margin-top: 2%;
  margin-left: 8%;
  width: 27%;
  background-color: rgb(49, 49, 235);
  font-family: "Josefin sans";
  color: white;
  font-size: 28pt;
}

#selectSize {
  text-align: center;
  font-family: "Ribeye";
  color: rgb(136, 216, 16);
  font-size: 40pt;
}

input#small {
  position: absolute;
  top: 32%;
  right: 10%;
  height: 40px;
  width: 40px;
}

input#medium {
  position: absolute;
  right: 10%;
  height: 40px;
  width: 40px;
}

input#large {
  position: absolute;
  right: 10%;
  height: 40px;
  width: 40px;
}

input#xl {
  position: absolute;
  right: 10%;
  height: 40px;
  width: 40px;
}

#select-style {
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 8%;
  width: 27%;
  background-color: rgb(49, 49, 235);
  font-family: "Josefin sans";
  color: white;
  font-size: 28pt;
}

#selectStyle {
  text-align: center;
  font-family: "Ribeye";
  color: rgb(136, 216, 16);
  font-size: 40pt;
}

input#regular {
  position: absolute;
  top: 35%;
  right: 10%;
  height: 40px;
  width: 40px;
}

input#thin {
  position: absolute;
  right: 10%;
  height: 40px;
  width: 40px;
}

input#deep {
  position: absolute;
  right: 10%;
  height: 40px;
  width: 40px;
}

hr {
  border: solid white;
  width: 95%;
}

#toppings {
  margin-top: 2%;
  margin-left: 8%;
  width: 50%;
  position: absolute;
  top: 40.5%;
  left: 35%;
  background-color: rgb(49, 49, 235);
  font-family: "Josefin sans";
  color: white;
  font-size: 28pt;
}

#topping-menu {
  text-align: center;
  font-family: "Ribeye";
  color: rgb(136, 216, 16);
  font-size: 40pt;
  margin-bottom: 3%;
}

.col-6{
  position: relative;
  left: 20%;
}


input#pepperoni {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#sausage {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#salami {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#anchovies {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#mushrooms {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#peppers {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#olives {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#onions {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
  width: 40px;
}

input#garlic {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#tomatoes {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

input#exCheese {
  border: white solid 1px;
  background-color: rgb(49, 49, 235);
  position: relative;
  right: 5%;
  height: 40px;
  width: 40px;
}

#priceButton {
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
  left: 100%;
  background-color: black;
  font-family: "Ribeye";
  font-size: 20pt;
  border-radius: 35%;
  border: 2px solid #fcd285;
}

h1.price {
  position: relative;
  left: 20%;
  text-align: left;
  font-family: "Ribeye";
  color: white;
  font-size: 50pt;
  margin-bottom: 3%;
}

#sendButton {
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
  left: 20%;
  background-color: black;
  font-family: "Ribeye";
  font-size: 45pt;
  border-radius: 35%;
  border: 2px solid #fcd285;
}

#final-page {
  display: none;
}

#order-sent {
  float: center;
  background-image: linear-gradient(rgb(49, 49, 235), rgb(49, 49, 235));
  border: rgb(32, 153, 32) solid 6px;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 50px;
  height: 700px;
  width: 75%;
}

.order-eta {
  position: absolute;
  left: 17%;
  top: 10%;
  text-align: center;
  color: white;
  font-size: 50pt;
  font-family: "Ribeye";
}

#start-again {
  background-color: black;
  font-family: "Ribeye";
  font-size: 20pt;
  border-radius: 35%;
  border: 2px solid #fcd285;
  position: absolute;
  left: 70%;
  top: 85%;
}